<p>actualizar-component works!</p>

<div class="">
    
    <form action="" class="form-group row">
  
        <div class="form-group col-md-3">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre"> 
        </div>
  
        <div class="form-group col-md-3">
          <label for="nombre">Apellido:</label>
          <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido"> 
        </div>
  
        <div class="form-group col-md-3">
          <label for="nombre">Cargo:</label>
          <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo"> 
        </div>
  
        <div class="form-group col-md-3">
          <label for="nombre">Salario:</label>
          <input type="number" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario"> 
        </div>
  
        <div class="col ms-2">
          <button type="submit" class="btn btn-primary mt-2" (click)="actualizarEmpleado(); volverHome()">Acción</button>
          <!--<button type="submit" class="btn btn-primary mt-2" (click)="eliminarEmpleado(); volverHome()">Eliminar</button>-->
        </div>
      </form>
    <div class="text-center">
    <button class="btn btn-primary" (click)="volverHome()">Home</button>
    </div>
</div>